body, #preso, .slide {
    background-color: #ffffff;
    border: none;
    font-family: helvetica, arial, sans-serif;
}
.content {
    background-color: #ffffff;
    color: #3965B0;
}
.content h1, .content h2 {
    font-family: Georgia;
    text-weight: bold;
    background-color: #ffffff;
    color: #133672;
}
.bullets > ul {
    list-style: disc;
    margin-left: 40px;
}
.bullets > ul > li {
    text-align: left;
    padding: .5em;
    margin-left: 40px;
}
.content::after {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-color: #ffffff;
    content: url(../../pstat_logo.gif);
}
.commandline code.command { color: #00b6d6 }

